[phases.setup]
nixPkgs = ["python311", "gcc", "postgresql", "wkhtmltopdf", "xvfb", "xorg.libX11", "xorg.libXrender", "xorg.libXext", "fontconfig", "dejavu_fonts", "findutils"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[variables]
PYTHONPATH = "."
# Pridáme cesty ku knižniciam ktoré wkhtmltopdf potrebuje
LD_LIBRARY_PATH = "/nix/var/nix/profiles/default/lib"

[start]
cmd = "bash bootstrap.sh"
